.image {
  width: 95vw;
  max-height: 70vh;
  max-width: 1000px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: block;
}
.card {
  border-radius: 1rem;
}
.caption {
  padding: 1rem 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #141414;
  color: #f1f1f1;
}
.title {
  font-size: 1rem;
}
